<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../js/matchpath.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <title>{{hour}} o'clock : preview list</title>
  </head>
  <body>
    <div data-role="page" data-add-back-btn="true">
      <div data-role="header" data-position="fixed">
	<h1>{{hour}} o'clock :preview list</h1>
      </div>
      <div data-role="content">
          {{#datalist}}
	  <span>
	    <a href="../../_show/photo/{{_id}}" data-ajax="false">
	      <img id="thumbnail" src="../../../../{{_id}}/{{thumbnail}}"
		   alt="{{year}}/{{mon}}/{{mday}} {{hour}}:{{min}}:{{sec}}"/></a>
	  </span>
          {{/datalist}}
      </div>
      <div data-role="footer" data-position="fixed">
	<a href="../hours/date?group_level=4&descending=true&limit=10" data-role="button" data-icon="arrow-u" data-ajax="false">Time line</a>
	<a id="home" data-role="button" data-icon="home" data-ajax="false">Home</a>
      </div>
    </div>
  </body>
</html>
