<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="../../jquery.mobile-1.0b1.min.css" />
    <script type="text/javascript" src="../../jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../../jquery.mobile-1.0b1.min.js"></script>
    {{#datalist}}
    <title>{{hour}}時の様子</title>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header" data-position="fixed">
	<h1>{{hour}}時の様子</h1>
	{{/datalist}}
      </div>
      <div data-role="content">
          {{#datalist}}
	  <span>
	    <a href="../../../../{{_id}}/{{photo}}" data-ajax="false">
	      <img id="thumbnail" src="../../../../{{_id}}/{{thumbnail}}"
		   alt="{{year}}/{{mon}}/{{mday}} {{hour}}:{{min}}:{{sec}}"/></a>
	  </span>
          {{/datalist}}
      </div>
      <div data-role="footer" data-position="fixed">
      </div>
    </div>
  </body>
</html>
