<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="../../style/jquery.mobile-1.0b1.min.css" />
    <script type="text/javascript" src="../../js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.mobile-1.0b1.min.js"></script>
    <title>リスト</title>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header" data-position="fixed">
	<h1>リスト</h1>
      </div>
      <div data-role="content">
	<ul data-role="listview">
          {{#datalist}}
	  <li><a href="../hour/thumbnail?key=%22{{year}}{{mon}}{{mday}}{{hour}}%22">{{mon}}/{{mday}} {{hour}}時</a><span class="ui-li-count">{{num}}</span></li>
          {{/datalist}}
	</ul>
      </div>
      <div data-role="footer" data-position="fixed">
      </div>
    </div>
  </body>
</html>
