<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../js/pointer.js"></script>
    <script type="text/javascript" src="../../js/matchpath.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <title>{{year}}/{{mon}}/{{mday}} {{hour}}:{{min}}:{{sec}}</title>
  </head>
  <body>
    <div data-role="page" data-add-back-btn="true">
      <div data-role="header" data-position="fixed">
	<h1>{{year}}/{{mon}}/{{mday}} {{hour}}:{{min}}:{{sec}}</h1>
      </div>
      <div data-role="content">
	<form>
	  <input type="hidden" id="searchkey" value="{{year}}{{mon}}{{mday}}{{hour}}"/>
	</form>

	<a id="photo" data-ajax="false">
	  <img id="photo" src="../../../../{{_id}}/{{photo}}"
	       alt="The photo is taken at {{year}}/{{mon}}/{{mday}} {{hour}}:{{min}}:{{sec}}"/></a>
	<div data-role="controlgroup" data-type="horizontal">
	  <a id="prev" data-role="button" data-icon="arrow-l" data-ajax="false">previous</a>
	  <a id="next" data-role="button" data-icon="arrow-r" data-ajax="false">next</a>
	</div>
      </div>
      <div data-role="footer" data-position="fixed">
	<a id="gotothumbnail" data-role="button" data-icon="arrow-u" data-ajax="false">Back to preview list</a>
	<a id="home" data-role="button" data-icon="home" data-ajax="false">Home</a>
      </div>
    </div>
  </body>
</html>
